

<html>
<head>

		<meta http-equiv="Content Type" content="text/html; charset=UTF-8"/>
		<link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800|Sintony:400,700" rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="http://www.furaha-robin.com/~robinreid/sinatra/next_step/scripts/help.css" type= "textcss"charset="utf-8"/>

	



</head>
<body>

<div id="container">
		
 			 <div id="header">
			 	<h3> Taking the Perfect Photograph </h3></div> 
 				
  					<div id ="imagevideo" class="helpvids">
					<video width="590" height="320" controls>
					
					</video>
					
					</div>
					
					
		<div id="image_info" class="tipstxt"><p>Inisde here are some tips taken from the video</p>
			<ol>
			<li>What  to think about</li>	
			<li> How long should it be</li>	
			<li>technical considerations</li>
			<li>What to avoid</li>
			</ol>
		</div>
 			
		
		</div>
	
</body>

</html>