<html>
<head>

		<meta http-equiv="Content Type" content="text/html; charset=UTF-8"/>
		<link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800|Sintony:400,700" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://www.furaha-robin.com/~robinreid/sinatra/next_step/scripts/student.css" type= "textcss"charset="utf-8"/>
<!-- 			<script type="text/javascript" src="http://www.furaha-robin.com/~robinreid/sinatra/scripts/"></script> -->

	



</head>
<body>

<div id="container">
		
 			 <div id="header">
 			 	<h1> Donors: Tell Us About Yourself </h1>
 				
  					<div id = "donorinstruct" class="intro">
					Your information Profile serves 2 purposes first to collecting financial information, but also to get a survey of your interests to give you the best sample of the students in our group. 
					</div>
 			
			</div>
		
 		 <div id = "donor_info" class="info_wrap">
			
				<div id = "student_form" >
					
			 		<form action ="http://www.furaha-robin.com/~robinreid/sinatra/next_step/create_profile" method="POST" enctype="multipart/form-data">
			 		
  						<div id="name">
  						
  							First Name:<input type="text" name="first"/>
  						
							Last Name:<input type="text" name="last"/>
							
						</div>
				
					<div id="bio_form" class="form_elements">	
					
						<p>Share some aspects of your career or life that you think might help a student figure out where they want to go</br><textarea name="bio" rows="9" cols="90"></textarea></p>
						
							<div id="bio_tips" class="helplinks">
					

								<a href="next_step/views/static/bio_help.erb">TIPS: Bio Writing</a>
								</div> 
						
							</div>	
							
				
				<div id ="image" class="form_elements">
				
					<div id="picture_tips" class="helplinks">
						<a href="next_step/views/static/image_help.erb">TIPS:Perfect Picture</a>
					</div>				
					
					
					<div id="image_link" class="action_details">Upload your image

            			<input type="file" name="file">
            			<input type="submit" value="Upload image">
            			
					
						</div>
					</div>
				
				<div id="movie" class="form_elements">
					
					<div id="movie_tips" class="helplinks">
						<a href="next_step/views/static/movie_help.erb">TIPS: Movies</a></div>
					
					   
					<div id="movie_link">The link to embed your movie
						<input type="text" name="video"/>
						<input type="submit" value="Submit" />
						
						
				</div>
				
				</div>
				
				<div id="vision"class="form_elements">
				
					<div id="vision_tips" class="helplinks">
						<a href="next_step/views/static/mural_help.erb">TIPS:Vision Board</a>
					</div>
					
 					   
					<div id="vision_board" >Embed Your Vision Board
					
						<input type="text" name="muraly"/>
						<input type="submit" value="Submit"/>
										 
						
					</div>
				</div>

						<div id="complete" >
						
 						Create your profile<input type="submit" value="Submit" /></div>
						</form>
				</div> 

		
	</div>
</body>

</html>