this the home page and this is the button that will take you to the student profile page: 
<a href="next_step/views/profilestudent.erb">student</a>
<!-- this is the button that will take you to the donor profile page: <input type="submit" value="donorhome"/> -->